<div class="container color-dark">
  <div class="col">
    <p>Add a bucket list item</p>
  </div>
  <div class="col">
    <P>your bucket list ({{itemCount}})</P>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p>use this form to add your bucket list goal</p>
    <form action="">
      <input type="text" class="txt" name="items" placeholder="life goals.."[(ngModel)="goalText"]>
 
      <input type="submit" class="btn"  value="{{btnText}}">
    </form>
  </div>
  <div class="col">
    <p class="life-of-a-container">i want to run combrade in 2019</p>
  </div>
</div>
